<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="IE-edge">
  <title>Coderjy</title>
  <script src="../node_modules/jquery/dist/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
  <script type="text/javascript" src="js.js"></script>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="owl.carousel.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
  <script src="AngularJS1.7.5.min.js"></script>
  <script type="text/javascript" src="angualrfile.js"></script>

</head>

<body ng-app="coderjyMod">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark " style="background-color: #000033">
    <a class="navbar-brand" href="#">Coderjy</a>
    <!--
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="#">
              <img src="logo 2.0.png" width="30" height="30" class="d-inlin1e-block align-top" alt="">
            </a>
          </nav>
-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-warning  my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
<!-- ---------------- -->
<div ng-controller="coderjyCtrl">
  {{name}}
</div>

  <!--- Image Slider -->
  <div class="container">
        <div class="row">
              <div class="col-md-12">
                    <div id="news-slider" class="owl-carousel">
                          <div class="post-slide">
                                <div class="post-img">
                                      <img src="images/1.jpg" alt="">
                                      <span class="icons">
                                            <img src="images/1.jpg" alt="">
                                        </span>
                                  </div>
                                <div class="post-review">
                                      <ul class="post-bar">
                                            <li><i class="fa fa-calendar"></i>Apr 2, 2016</li>
                                            <li><i class="fa fa-user"></i> admin</li>
                                        </ul>
                                      <h3 class="post-title">Latest News Post</h3>
                                      <p class="post-description">Lorem ipsum dolor sit amet, consectetur adipisicing
                elit. At cum hic officia quaerat sapiente, vitae. </p>
                                      <a href="#" class="read">read more<i class="fa fa-angle-right"></i></a>
                                  </div>
                            </div>
           
                          <div class="post-slide">
                                <div class="post-img">
                                      <img src="images/2.jpg" alt="">
                                      <span class="icons">
                                            <img src="images/3.jpg" alt="">
                                        </span>
                                  </div>
                                <div class="post-review">
                                      <ul class="post-bar">
                                            <li><i class="fa fa-calendar"></i>Apr 5, 2016</li>
                                            <li><i class="fa fa-user"></i> admin</li>
                                        </ul>
                                      <h3 class="post-title">Latest News Post</h3>
                                      <p class="post-description">Lorem ipsum dolor sit amet, consectetur adipisicing
                elit. At cum hic officia quaerat sapiente, vitae. </p>
                                      <a href="#" class="read">read more<i class="fa fa-angle-right"></i></a>
                                  </div>
                            </div>
                      </div>
                </div>
          </div>
  </div>

  <!--- Jumbotron -->


  <!--- Welcome Section -->


  <!--- Three Column Section -->


  <!--- Two Column Section -->


  <!--- Fixed background -->


  <!--- Emoji Section -->


  <!--- Meet the team -->


  <!--- Cards -->


  <!--- Two Column Section -->


  <!--- Connect -->


  <!--- Footer -->
  <!-- Footer -->
  <footer class="page-footer bg-color-blue font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->


</body>

</html>