.post-slide {
	padding: 0 10px;
	transform: translateY(0);
	transition: all 0.30s ease 0s;
}

.post-slide:hover {
	transform: translateY(-10px);
}

.post-slide .post-img {
	position: relative;
}

.post-slide .post-img img {
	width: 100%;
	height: auto;
}

.post-slide .post-img:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: linear-gradient(to left, rgba(210, 130, 19, 0.7), rgba(170, 55, 114, 0.7));
	transform: translateY(-100%);
	transition: all 0.30s ease 0s;
}

.post-slide:hover .post-img:after {
	transform: translateY(0);
}

.post-slide .post-img:before {
	content: "\f002";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	width: 100%;
	height: 100%;
	text-align: center;
	position: absolute;
	top: -50%;
	font-size: 30px;
	color: #fff;
	transition: all 0.50s ease 0s;
	z-index: 1;
}

.post-slide:hover .post-img:before {
	top: 40%;
}

.post-slide .icons {
	position: absolute;
	bottom: -16px;
	left: 30px;
	width: 44px;
	height: 44px;
	border-radius: 50%;
	overflow: hidden;
	z-index: 1;
}

.post-slide .icons img {
	width: 100%;
	height: auto;
}

.post-slide .post-review {
	border: 1px solid #9c4a6c;
	border-top: none;
	padding: 35px 20px 25px;
	background: #fff;
	position: relative;
}

.post-slide .post-review:after {
	content: "";
	width: 90%;
	height: 10px;
	position: absolute;
	top: 100%;
	left: 5%;
	opacity: 0;
	background: rgba(0, 0, 0, 0) radial-gradient(ellipse at center center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
	transform: translateY(0);
	transition: all 0.30s ease 0s;
}

.post-slide:hover .post-review:after {
	opacity: 1;
	transform: translateY(5px);
}

.post-slide .post-bar {
	padding: 0;
	list-style: none;
}

.post-slide .post-bar li {
	display: inline-block;
	font-size: 16px;
	font-family: serif, Arial;
	color: #555;
	margin-right: 10px;
	text-transform: capitalize;
}

.post-slide .post-bar li i {
	color: #9c4a6c;
	margin-right: 8px;
}

.post-slide .post-title {
	margin: 0 0 20px 0;
	color: #555;
	font-weight: bold;
	font-size: 18px;
}

.post-slide .post-description {
	font-size: 15px;
	line-height: 21px;
	color: #808080;
}

.post-slide .read {
	text-transform: capitalize;
	font-size: 15px;
	color: #9c4a6c;
}

.post-slide .read i {
	margin-left: 10px;
}

.post-slide .read:hover {
	text-decoration: none;
	color: #333;
}